body, #wrapper
{
    min-height: 100vh;
}

main
{
    flex: 1;
}

a,
a:hover,
a:active,
a:visited
{
    text-decoration: none;
    color: inherit;
}


h1
{
    text-align: center;
    padding: 5%;
    font-size: 3.5em;
}
/*------- nav bar --------*/
.navbar-brand i
{
    position: relative;
    top: 4px;
    color: #FFFFFF;
    font-size: inherit;
}

.navbar
{
    background-color: #5e5e5e;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
}

.navbar-brand
{
    color: #FFFFFF;
    font-size: 2rem;
}

.nav-link
{
    color: #FFFFFF;
    font-size: 1.2rem;
    position: relative;
    top: 6px;
    margin-left: 20%;
}
.navbar-nav
{
    padding-left: 10%;
}

#logout
{
    border-color: #FFFFFF;
    color: #FFFFFF;
}
/*------- page header --------*/

.pageHeader
{
    padding: 3%;
}

/*------- form --------*/

#addForm
{
    width:50%;
    margin-left: 25%;
}

.connectionForm
{
    width: 50%;
    margin-left: 25%;
}

/*------- story card --------*/
.cardHolder
{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: center;
}
.storyCard
{
    width: 30%;
    margin: 1.5%;
    margin-block-end: 30px;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);

}

.storyCard li
{
    margin-left: 5%;
    font-size: 0.9em;
}

.storyCard i
{
    color: #0f74a8;
}
.storyCard h3
{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #FFFFFF;
}

.cardHeader
{
    background-color: #0f74a8;
}

.storyCard p
{
    text-align: justify;
    margin-top: 5%;
    margin-left: 3%;
    margin-right:3%;
}

.cardLink
{
    text-align: center;
    margin-bottom: 3%;
}

.cardLink a
{
    border-color: #0f74a8;
}

/*------- story --------*/

#storyBody
{
    padding-left: 2%;
    padding-right: 2%;
}

#storyBody p
{
    font-size: 1.3em;
}

#abstract h2,
#plot     h3
{
    font-size: 2em;
    text-align: center;
    padding-bottom: 2%;
    padding-top:2%;
}

#contact,
.more
{
    padding: 2%;
}

#contact h3,
.more h3
{
    font-size: 1.5em;

}

#contact ul,
.more ul
{
    font-size: 1.2em;
}

#contact i
{
 color : #5e5e5e;
}


