{% extends 'base.html.twig' %}

{% block body %}


    <div class="msgErrorPage">
        <p>{{ message }}</p>
    </div>


    <div class="backToHome">
        <a class="btn btn-warning" href="{{ path('home') }}">Back to homepage</a>
    </div>

{% endblock %}
