{% extends "base.html.twig" %}

{% block body %}

    <h2 class="storyCount">Our climate stories safe holds <b>{{ total[0]|join('|') }} stories</b></h2>
{{ include('storyCard.html.twig') }}

{% endblock %}
{% block javascripts %}

{% endblock %}
