@charset "UTF-8";

/* ----------------------------- */

/* == _atomes.scss           	 */

/* ----------------------------- */


/* -----COLORS-----*/

$primary-color: #ff3b1e;
$primary-color-light: #000000;
$primary-color-dark: #000000;


$secondary-color: #000000;
$secondary-color-light: #000000;
$secondary-color-dark: #000000;


/* -----FONT-----*/

$primary-typo: 'Raleway', sans-serif;
$secondary-typo: verdana,sans-serif;


/* -----BUTTONS-----*/

@mixin button-general {
   
}
