@charset "UTF-8";

/* ----------------------------- */

/* == _atomes.scss           	 */

/* ----------------------------- */


/* -----COLORS-----*/

$primary-color: #4c4c4c;
$primary-color-light: #787878;
$primary-color-dark: #242424;


$secondary-color: #4caf50;
$secondary-color-light: #80e27e;
$secondary-color-dark: #087f23;

$shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);;


/* -----FONT-----*/

$primary-typo: 'Raleway', sans-serif;
$secondary-typo: verdana,sans-serif;


/* -----BUTTONS-----*/

@mixin button-general {
   
}
