@charset "UTF-8";

/* -------------------------------- */

/* == _desktop.scss (large screen) */

/* -------------------------------- */

@media (min-width: 64.063em) {
    body:before {
        @include bandeau-resolution;
        content: "Version Ordinateur";
    }
}

h1{
    padding-bottom: 4%;
    padding-top: 4%;
}
/*-----form-----*/

#filter {
    margin-bottom: 5%;
    height: 150px;
    padding-top: 4%;
    padding-left: 6%;
    .form-inline {
        padding-bottom: 10%;
        padding-left: 10%;
    }
    .form-group {
        padding-left: 3%;
    }
}


/* end of @media (max-width: 64.063em) /* = min-width 1025px */
