@charset "UTF-8";

/* -------------------------------- */

/* == _desktop.scss (large screen) */

/* -------------------------------- */

h1{
    padding-bottom: 4%;
    padding-top: 4%;
}
/*-----home-----*/


/*-----card-----*/

.cardHolder{
    margin-top: 3%;
}

/*-----form-----*/

#filter {
    margin-bottom: 5%;
    padding-top: 4%;
    padding-left: 6%;
    .form-inline {
        padding-bottom: 10%;
        padding-left: 10%;
    }
    .form-group {
        padding-left: 3%;
    }
}
#filterHome{
    margin-left: 25%;
}

/*-----story-----*/

#storyHolder{
    margin-top: 2%;
}


/* end of @media (max-width: 64.063em) /* = min-width 1025px */
