@charset "UTF-8";

/* -------------------------------------------------*/


/* == _mobile.scss (target devices : mobiles and tablets) */


/* -----GENERAL-----*/

@-webkit-viewport {
	width: device-width;
	zoom: 1.0;
}
@-moz-viewport {
	width: device-width;
	zoom: 1.0;
}
@-ms-viewport {
	width: device-width;
	zoom: 1.0;
}
@-o-viewport {
	width: device-width;
	zoom: 1.0;
}
@viewport {
	width: device-width;
	zoom: 1.0;
}
::selection {
	background: #e7c791;
	/* Webkit */
}
::-moz-selection {
	background: #e7c791;
	/* Firefox */
}
::-webkit-input-placeholder {
	color: #000000;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #000000;
}
a {
	color: #000000;
}
mark {
	background: #ff0;
}

html *{
	font-family: $primary-typo;
}

h1{
	text-align: center;
	font-family: $primary-typo;
	font-weight: $font-weight-titles;
	font-size: $font-size-title;
}

h2 {
	text-align: center;
	font-family: $primary-typo;
	font-weight: $font-weight-titles;
	font-size: $font-size-title;
}

h3,h4,h5{
	font-family: $primary-typo;
	font-weight: $font-weight-titles;
	font-size: $font-size-sub;
}

p,a,tr{
	font-family: $primary-typo;
	font-weight: $font-weight-p;
	font-size: $font-size-p;
}

i.fa{
	color: $secondary-color-dark;
}

i.fa-times{
	color: #F54041;
}

i.fa-check{
	color: #5fdda1;
}

input[type=text],
input[type=password],
input[type=email],
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus{
	background: transparent;
	border: none;
	border-bottom: 2px solid;
	border-radius: 0;
	outline-color: transparent;
	outline-style: none;
	box-shadow: none;
}

input[type=text]:focus{
	border-bottom: 2px solid $secondary-color;
}

.mobileUx{
	display: none;
}

.form-control{
	padding: 0;
}

textarea:focus
,textarea{
	border-style: none !important;
	overflow: auto !important;
	outline-color: transparent !important;
	outline-style: none !important;
	box-shadow: none !important;
	border-radius: 0 !important;
}

textarea{
	border-bottom: 2px solid $primary-color !important;
}

textarea:focus{
	border-bottom: 2px solid $secondary-color !important;
}

.alert{
	position: fixed;
	width: 100%;
	text-align: center;
	top: 90px;
	border-radius: inherit;
}

.alert-denied{
	color: #dbb027;
	background-color: rgba(219,176,19,0.2);
	margin-bottom: 10px;
}

.notification{
	position: fixed;
	top: 90px;
	z-index: 1;
	width: 100%;
	background: #c9453c;
	padding: 15px;
	i,
	span{
		color: #FFFFFF;
	}
	span{
		padding-right: 5px;
	}

}
/* -----BUTTONS-----*/

.btn {
	@include button-general;
}

a.btn.btn-default.validate,
a.btn.btn-default.upgrade,
a.btn.btn-default.reject,
a.btn.btn-default.downgrade,
a.btn.btn-default.delete,
a.btn.btn-default.edit{
	width: 150px!important;
}

button.btn.btn-primary.add{
	width: 98%;
}

a.btn.btn-default.validate,
a.btn.btn-default.upgrade{
	background-color: #5fdda1;
	border-color: transparent;
	i{
		color: #FFFFFF;
	}
}

a.btn.btn-default.validate:hover,
a.btn.btn-default.upgrade:hover{
	background-color: #FFFFFF;
	border-color: #5fdda1;
	i{
		color: #5fdda1;
	}
}

a.btn.btn-default.reject,
a.btn.btn-default.downgrade,
a.btn.btn-default.edit{
	background-color: #dbb027;
	border-color: transparent;
	i{
		color: #FFFFFF;
	}
}

a.btn.btn-default.reject:hover,
a.btn.btn-default.downgrade:hover,
a.btn.btn-default.edit:hover{
	background-color: #FFFFFF;
	border-color: #dbb027;
	i{
		color: #dbb027;
	}
}

a.btn.btn-default.delete
{
	background-color: #F54041;
	border-color: transparent;
	i{
		color: #FFFFFF;
	}
}

a.btn.btn-default.delete:hover{
	background-color: #FFFFFF;
	border-color: #F54041;
	i{
		color: #F54041;
	}
}

a.editFront{
	position: absolute;
}

a.editFront:hover,
a.editFront:focus{
	i{
		color: $primary-color !important;
	}
}


.btn {
	background: $secondary-color;
	color:#FFFFFF;
}

.btn:focus{
	background: #FFFFFF;
	color:$secondary-color;
	border-color: $secondary-color;
}
.alert-warning{
	color: #F54041;
	background-color: #FFFFFF;
	border-color: #F54041;
}

/* ----- submit button color-----*/
#loginBtn,
#registerBtn,
#lostPswdBtn{
	border: none !important;
	color: #FFFFFF !important;
	background-color: $secondary-color !important;
	width: 260px;
	height: 60px;
	margin-top: 5%;
}

#loginBtn:hover,
#loginBtn:focus,
#registerBtn:hover,
#registerBtn:focus,
#lostPswdBtn:hover,
#lostPswdBtn:focus{
	border: solid 1px $secondary-color !important;
	color: $secondary-color !important;
	background-color: transparent !important;
}

#lost:hover,
#lostPswdBtn:focus{
	color: $secondary-color !important;
	text-decoration: none;
}

.update{
	border: solid 1px $secondary-color !important;
	color: $secondary-color !important;
	background-color: transparent !important;
}

.add:hover,
.add:focus{
	border: solid 1px $secondary-color !important;
	background-color: transparent !important;
	i{
		color: $secondary-color !important;
	}
}

.update:hover,
.update:focus,
.add{
	border: none !important;
	background-color: $secondary-color !important;
	i{
		color: #FFFFFF !important;
	}
}

#resetBtn {
	color: $secondary-color !important;
	background-color: transparent !important;
	width: 260px;
	height: 60px;
	line-height: 50px;
	border-color: $secondary-color;
}

#resetBtn:hover,
#resetBtn:focus{
	background-color: $secondary-color !important;
	color: #FFFFFF !important;
	border: none;
	i{
		color: #FFFFFF !important;
	}
}


/* -----LAYOUT-----*/

@mixin bandeau-resolution {
	color: $primary-color-dark;
	width: 100%;
	display: block;
	text-align: center;
}

.page-wrap {
	box-sizing: border-box;
	min-height: 100%;
	height: auto !important;
	padding: 0 0 100px;
	position: relative;
	margin: 0 auto -100px;
}

.footer{
	width: 100%;
	background-color: $primary-color-dark;
	height:100px;
}
.footer, .push {
	height: 100px;
}

/*--- navbar ----*/

.navbar {
	background: $primary-color;
	-webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
	color: #FFFFFF;
	max-height: 90px;
	i{
		color: #FFFFFF;
	}
}

.nav-link {
	color: #FFFFFF;
}

#active {
	border-bottom: solid 2px ;
}

.navbar-brand:hover,
.navbar-brand:focus{
	color: $secondary-color-light;
}

.nav-link:hover,
.nav-link:focus{
	color: $secondary-color-light;
	border-color: $secondary-color-light!important;
	border-bottom: solid 2px;
}
.nav > li > a:focus, .nav > li > a:hover {
	background-color:$primary-color-light ;
}

#logout,
#registerLink,
#signInLink {
	padding: 5px 50px !important;
	margin-right: 10px;

	height: 45px !important;
	line-height: 35px;
}


#logout,
#signInLink{
	color: #FFFFFF;
	background-color: transparent;
	border: solid 1px $secondary-color;
}

#logout:hover,
#logout:focus{
	background-color: $secondary-color;
	a{
		color: #FFFFFF;
	}
}

#signInLink:hover,
#signInLink:focus{
	color: #FFFFFF !important;
	background: $secondary-color !important;
}

#registerLink{
	color: #FFFFFF;
	border: solid 1px $primary-color;
}

#registerLink:hover,
#registerLink:focus{
	color: #FFFFFF;
	border: solid 1px $secondary-color;
	background: $primary-color;
}

/*------- footer elements -------*/
#footerItem ul {
	color: #FFFFFF;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
	padding-top: 2%;
	a{
		color: #FFFFFF;
	}
	a:hover,
	a:focus{
		color: $secondary-color;
		text-decoration: none;
	}
}

/*------- card ---------*/
.cardHolder {
	display: flex;
	flex-flow: wrap;
	align-items: center;
	align-content: space-between;
	justify-content: center;
}

.storyCard {
	margin: 1.5%;
	margin-block-end: 30px;
	-webkit-box-shadow: $shadow !important;
	-moz-box-shadow: $shadow !important;
	box-shadow: $shadow !important;
	min-height: 300px;
	max-width: 400px;
	min-width: 290px;
	border: solid 1px $secondary-color;
	border-radius: 5px;
	ul {
		display: flex;
		justify-content: space-evenly;
	}
	li {
		font-size: 0.9em;
	}
	i {
		color: $secondary-color;
		font-size: 1.6em;
	}
	h3 {
		text-align: center;
		padding-top: 2%;
		padding-bottom: 2%;
		color: $secondary-color;
	}
	p {
		text-align: justify;
		margin-top: 5%;
		margin-left: 3%;
		margin-right:3%;
		height: 80px;
	}
}

.cardHeader {
	position: relative;
}

.cardLink {
	text-align: center;
	padding-bottom: 5%;
	padding-top: 5%;
	a .btn {
		border-color: $secondary-color-light;
		color: #FFFFFF;
	}
}

.cardLink a.btn:hover,
.cardLink a.btn:focus{
	color: $secondary-color;
	background-color: #FFFFFF !important;
	border-color: $secondary-color;
}

.cardFooter{
	border-top: solid 1px $secondary-color;
	padding-bottom: 2%;
}

/*------- home ---------*/
#intro {
	background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../images/HomeImg.jpg'),no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 960px;
	margin-top: 80px;
}


.storyCount {
	b {
		color: $secondary-color;
	}
	text-align: center;
	margin-bottom: 5%;
	margin-top: 5%;
	padding: 0;
}

h1,
#announcement {
	text-align: center;
	font-size: 5rem;
}
#speech{
	padding: 3%;
	margin-bottom: 5%;
	margin-top: 5%;
	color: #FFFFFF;
	text-align: center;
	p{
		font-size: 1.8rem;
		text-align: justify;
		max-width: 700px;
		display: inline-block;
	}
	h2{
		margin-top: 5%;
	}
}

#homeStories{
	border-top: solid 1px $secondary-color-dark;
	margin-top: 5%;
}

#filterTitle{
	text-align: center;
}

#filterHome{
	margin-top: 3%;
	i{
		color: $secondary-color;
	}
	select{
		border-radius: 10px;
		margin-bottom: 20%;
	}

}

/*------- pagination --------*/

#currentPage {
	background-color: $secondary-color;
	/*font color define in template via twig */
}

#pageLinks{
	margin-top: 5%;
}

#pageLinks a:not(#currentPage) {
	color: $primary-color;
	font-size: 2.5rem;
}


#pageLinks a:hover {
	text-decoration: underline $secondary-color;
	zoom: 120%;
}

#pageLinks a:active{
	color: #FFFFFF !important;
	background-color: $secondary-color;
}

#nextBtn,
#nextStory,
#prevStory,
#previousBtn{
	i{
		color: #FFFFFF;
	}
	border-color: $secondary-color-dark !important;
	color: $secondary-color-dark !important;
}

#previousBtn,
#nextBtn{
	position: absolute;
	bottom: 190px;
}

#nextBtn{
	right:10px;
}


#nextStory,
#prevStory{
	position: absolute;
	top:19.5%;
	i{
		font-size: 48px;
	}
}

#prevStory{
	left: 0;
}

#nextStory{
	right: 0;
}

#prevStory a:hover,
#prevStory a:focus,
#nextStory a:hover,
#nextStory a:focus {
	background-color: transparent !important;
	border-color: $secondary-color;
	i{
		color: $secondary-color;
	}
}

#nextBtn:hover,
#nextBtn:focus,
#previousBtn:hover,
#previousBtn:focus{
	border-color: transparent !important;
	color: #FFFFFF !important;
	background-color: $secondary-color-dark;
}

.pictLink{
	font-size: 2rem;
	margin-top: 3%;
	width: 260px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	padding: 0 !important;

}

#punchLine .pictLink{
	padding-top: 2%;
}
.pictLink:hover,
.pictLink:focus{
	background-color: transparent;
	color: $secondary-color;
	border-color: $secondary-color;
}

/*--------FORM---------*/

.req{
	color: $secondary-color;
	font-size: 1.5rem;
}

#terms{
	position: absolute;
	top: 20px;
	left: 218px;
}


.connectionForm{
	padding-right: 0 !important;
	margin-top: 5%;
	.form-group{
		padding-right: 0 !important;
	}
	.row{
		margin-left: 0!important;
	}
}

.addStory,
.connectionForm
{
	min-width: 280px;
	margin-bottom: 10%;
	input:focus{
		border-color: $secondary-color !important;
	}
	select:focus{
			 border-color: $secondary-color-dark;
			 background: transparent;
		 }
}

.connectionForm{
	max-width:50%;
}

.addStory{
	max-width:80%;
}

.connectionTitle{
	text-align: center;
	margin-top: 100px;
}


/*lost password*/
#askNewForm{
	margin-top: 10%;
}

/*register*/
#registerForm{
	margin-top: 0;
}

/*search-filters*/
#filter{
	text-align: center;
	.form-group{
		padding: 2%;
	}
}

#filterHome,
#filterBtn{
	text-align: center;
}

#filterBtn .btn{
	margin-top: 4%;
}

#filterBtn .btn:not(.nostyle),
#filterHome .btn{
	border: none !important;
	color: #FFFFFF !important;
	background-color: $secondary-color !important;
	width: 260px;
	height: 60px;
	i{
		color: #FFFFFF;
	}
}

#filterBtn .btn:hover:not(.nostyle),
#filterBtn .btn:focus:not(.nostyle),
#filterHome .btn:hover,
#filterHome .btn:focus{
	border: solid 1px $secondary-color !important;
	color: $secondary-color !important;
	background-color: transparent !important;
	i{
		color: $secondary-color;
	}
}

#filter  select:focus,
#filterHome  select:focus{
	border-color: $secondary-color !important;
	outline-color: transparent;
	outline-style: none;
	}
#filter	select:hover,
#filterHome	select:hover{
	border-color: $secondary-color !important;
	}
#filter select,
#filterHome select{
	border-color: $primary-color;
	background: transparent;
	border-radius: 10px;
	min-width: 300px;
}
#filter select option:checked,
#filterHome select option:checked {
	color: $secondary-color-dark;
}

/*add story form*/
#addForm .row{
	margin-right: 0!important;
	margin-left: 0!important;
}
#addForm .form-group:not('.urls'){
	padding-bottom: 40px;
}

#addForm label{
	margin-bottom: 10px;
}

#storyPart1,
#storyPart2,
#storyPart3{
	border-bottom: solid 1px $secondary-color;
	i{
		color: $secondary-color;

	}
}

#showPart1,
#showPart2,
#showPart3{
	margin-bottom: 25px;
	padding-top: 10px;
}

.part4{
		 margin-top: 10%;
		 .btn{
			 width: 260px;
			 height: 60px;
			 background-color: transparent;
			 color: $secondary-color;
			 border-color: $secondary-color;
		 }
	.btn:hover{
		background-color: $secondary-color;
		color: #FFFFFF;
		border: none;
	}
}

#story_urls{
	.btn-danger{
		background-color: transparent !important;
		position: relative;
		top: -34px;
		left: 100%;
	}
	.btn-danger:hover{
		 background-color: $secondary-color !important;
		border: none !important;
		 i{
			 color: #FFFFFF;
		 }
	 }
}

#add_url{
	background-color: transparent;
	border-color:#5fdda1;
	i{
		color: #5fdda1;
	}
}

#add_url:hover{
	background-color: #5fdda1;
	border: none;
	i{
		color: #FFFFFF;
	}
}

/*form validation*/


.invalid{
	position: absolute;
	left: 15px;
}

.modalForm .invalid{
	left: 135px !important;
}

#updateAdministrator .invalid{
	left: 100px !important;
}

.invalid,
.invalid_sign {
	color: #F54041;
}

.invalid_sign ,
.valid_sign {
	position: relative;
	left: 100%;
	top: -30px;
	padding-left: 1%;
	i{
		margin-left: 2%;
		font-size: 1.5em
	}
}

.valid_sign i {
	color: #5fdda1;
}

.invalidBack ul {
	color:#F54041;
	list-style: none;
}
/*------story-------*/

#storyHolder{
	position: absolute;
	right: 0;
	top:0;
	width: 100%;
	min-height: 960px;
	z-index: -1;
	margin-top: 2%;
	background-position: left bottom;
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../images/storyImg.jpg');

}

.separator{
	display: none;
}


#storyTitle{
	position: absolute;
	top:0;
	left: 65%;
	right: 0;
	color: #FFFFFF;
}

#storyBody {
	background-color: #FFFFFF;
	padding: 2% 5%;
	width: 65%;
}
#storyAbstract {
	margin-top: 55px;
	h2{
		text-align: left;
		margin-top: 50px;
	}
	h2 span{
		color: #FFFFFF;
		font-family: $primary-typo;
	}
	background-color: $secondary-color;
	padding: 2% 5%;
	width: 65%;

}

#storyAbstract,
#storyPlot{
	text-align: justify;
	font-size: 1.8rem;
}

#storyPlot {
	h3 span{
		color: $secondary-color;
	}
	padding-top: 4%;
	padding-bottom: 3%;
}

#plotText{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	column-gap: 50px;
	padding-top: 4%;
	padding-bottom: 3%;
	p:first-of-type{
		margin-top: 0 !important;
	}
}

#moreStory{
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid $secondary-color-dark;
	border-top: 1px solid $secondary-color-dark;
	padding-bottom: 2%;
}

#contact{
	background-color: $secondary-color;
	padding: 3%;
	h3{
		text-align: center;
		padding-bottom: 2%;
	}
	ul{
		display: flex;
		justify-content: space-evenly;
		font-size: 1.5rem;
	}
	i{
		color: #FFFFFF;
		font-size: 1.6em;
		padding-right: 5px;
	}
}

#extResources{
	h3{
		text-align: center;
		padding-bottom: 2%;
	}
	ul{
		display: flex;
		justify-content: space-around;
		font-size: 1.5rem;
	}
}

#moreContainer{
	margin-top: 2%;
	.more{
		overflow-x: hidden;
	}

	.storyCard{
		min-width: 450px;
	}
	.cardHolder{
		flex-flow: nowrap;
		justify-content: flex-start;
	}
	h3{
		text-align: center;
	}
}

.panner{
	position: relative;
	top: -200px;
	i{
		font-size: 35px;
	}

}

.linkToAdmin{
	font-size: 0.7rem;
	float: left;
	i{
		color: $primary-color;
	}
}
/*------browse-------*/
#introBrowse {
	margin-top: 90px;
	h1 b{
		color: $secondary-color;
	}
	.storyCount{
		margin-top: 20%;
	}
	background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../images/HomeImg.jpg'),no-repeat;
	background-position: center;
	min-height: 900px;
}

#punchLine{
	padding: 3%;
	margin-bottom: 5%;
	margin-top: 5%;
	color: #FFFFFF;
	width: 50%;
	margin-left: 25%;
	text-align: center;
}

.pageHeader{
	margin-top: 100px;
}
/*-----admin------*/
.adminTitle,
.titleNoPadding{
	padding-top: 10%;
}

#adminStoryTitle{
	margin-bottom: 5%;
}

h1.titleNoPadding{
	padding-bottom: 0 !important;
}

#dashboard{
	li{
		font-size: 3rem;
	}
	li span{
		color: $secondary-color;
		font-weight: 600;
	}
}

.reminder {
	padding-bottom: 3%;
	ul{
		display: flex;
		justify-content: space-between;
		font-size: 2rem;
	}
}

.entityManagement{
	text-align: center;
	p{
		margin-bottom: 2%;
	}
	a{
		margin: 1%;
	}
}

.entityTable td,
.entityTable th,
.entityTable{
	border: solid 1px $secondary-color !important;
}

.done .fa-exclamation-triangle{
	display: none;
}

.fa-exclamation-triangle{
	color: orange !important;
	padding-left: 10px;
}

#filters{
	width: 300px;
	padding: 5px;
	border-radius: 5px;
	border: solid 1px;
	font-size: 1.8rem;
}

.entityTable{
	margin-bottom: 3%;
}

.hint{
	display: none;
}

.adminList table a{
	text-decoration: underline $secondary-color;
}

thead{
	color: $secondary-color;
}

.adminList table a:hover{
	color: $secondary-color !important;
}
table .longText{
	text-align: justify;
}

table .centerText{
	text-align: center;
}

table .rightText{
	text-align: right;
}

#dashboardAction{
	.btn{
		background-color: transparent;
		color: $secondary-color;
		border-color: $secondary-color;
		width: 240px;
	}
	.btn:hover{
		background-color: $secondary-color;
		color: #FFFFFF;
		border: none;
	}
}

.iconBlock{
	text-align: center;
	margin-bottom: 3%;
}

#actionIcon{
	margin-top: 5%;
}

.adminList{
	margin-top: 3%;
}

#adminNav{
	height: 100%;
	position: fixed;
	top: 90px;
	left: - 250px;
	background-color: $secondary-color;
	overflow-x: hidden;
	transition: 0.5s;
	width: 250px;
	i{
		color: #FFFFFF;
		padding-right: 20px;
		padding-left: 15px;
	}
	h3{
		text-align: center;
		background-color: #951F20;
		color: #FFFFFF;
		margin: 0 !important;
	}
}

#patronage{
	padding-right: 14px !important;
}

#topic{
	padding-right: 25px !important;
}

.filterList{
	text-align: center;
	margin-bottom: 3%;
	color: $secondary-color;
}

#unactivatedAccount,
#unpublishedStories{
	margin-left: 200px;
}

#adminNav a {
	padding: 8px 8px 8px 0;
	text-decoration: none;
	font-size: 25px;
	color: #FFFFFF;
	display: block;
	transition: 0.3s;
}

#adminNav a:hover{
	color: $primary-color!important;
}


#closeNav{
	position: absolute;
	top: 20px;
	margin-left: 5px;
}

#closeNav i:hover{
	color: #FFFFFF;
}

#open{
	position: fixed;
	background-color: $secondary-color;
	padding: 9.38px !important;
	left:0;
	i{
		color: #FFFFFF;
		padding-left: 1px!important;
		padding-right: 1px !important;
	}
	i:hover{
		color: $primary-color;
	}
}

.modalForm,
.modalUrl{
	width: 50%;
	position: fixed;
	top: 30%;
	min-width: 30%;
	opacity: 1;
	left: 25%;
	right: 25%;
	background-color: #FFFFFF;
	border: 1px solid rgba(49, 51, 54, 0.3);
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	z-index: 2000;
}

.modalUrl{
	min-height: 300px;
	padding-left: 2%;
	padding-right: 2%;
	p{
		font-size: 2rem !important;
	}
	p span{
		color: $secondary-color;
	}
    i{
		color: $primary-color !important;
	}
	i:hover{
		color: $secondary-color !important;
	}
	li{
		margin: 0 0 5px 0;
	}
	li a{
		font-size: 1.8rem;
	}
	li a:hover{
		color: $secondary-color !important;
	}
	li i{
		font-size: 1.5rem;
		padding-left: 1%;
	}
}

.adminPlot h3,
.adminAbstract h3,
.adminContact h3{
	color: $secondary-color;
}

.adminContact ul{
	font-size: 1.8rem;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2%;
}

.adminPlot p,
.adminAbstract p{
	text-align: justify;
}

.modalForm{
	height:300px;
	border-radius:10px;
}

#modalAdmin{
	min-height: 550px;
	top:20%;
}

#newTopicForm,
#newPatronageForm,
#updateAdministrator{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	.row:last-of-type{
		text-align: center;
		padding-top: 10px;
	}
	.btn{
		border: none;
		background-color: $secondary-color;
		color: #FFFFFF;
		padding: 15px 30px;
	}
	.btn:hover{
		border: solid 1px $secondary-color;
		background-color: #FFFFFF !important;
		color: $secondary-color;
	}
}

#updateAdministrator input:focus{
	border-bottom-color: $secondary-color ;
}

#newTopicForm,
#newPatronageForm{
	padding: 10%;
}

#addPatronage,
#addTopic{
	text-align: center;
}

#updateAdministrator{
	padding: 5%;
}

.modalOverlay{
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(49, 51, 54, 0.8);
}

.closeModal{
	position: absolute;
	right: 10px;
	top: 10px;
	color: #999;
	line-height: 10px;
}

#createLegal {
	text-align: center;
	 a.btn.btn-primary.add {
		width: 98% !important;
	}
}

#addLegal,
#editTermForm{
	.row:last-of-type{
		text-align: center;
		margin-top: 5%;
	}
	.btn{
		width: 260px;
		height: 60px;
	}
	.form-group {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 30px;
	}
}

#legalArticle{
	padding-bottom: 2%;
}

.part4{
	text-align: center;
	button{
		border: solid 1px transparent !important;
		background-color: $secondary-color!important;
		color: #FFFFFF !important;
	}
	button:hover{
		background-color: #FFFFFF!important;
		color: $secondary-color !important;
		border-color: $secondary-color !important;
	}
}

.mceType{
	padding-left: 5%;
	padding-right: 5%;
}

/*-------- legal notice -------*/

.termBreak:not(:last-of-type){
	border: solid 1px $secondary-color;
	width: 30%;
	margin-bottom: 50px;
	margin-top: 80px;
}

#noticeTitle{
	margin-top: 10%;
}

.articleTitle{
	color: $secondary-color;
}

.termNumber{
	color: $primary-color;
}

/*--- error page ------*/

.msgErrorPage{
	text-align: center;
	margin-top: 20%;
	p{
		font-size: 3rem;
	}
}

.backToHome{
	text-align: center;
	margin-top: 5%;
	a{
		padding: 5px 50px !important;
		margin-right: 10px;
		height: 45px !important;
		line-height: 35px;
	}
	a:hover,
	a:focus{
		color: $secondary-color !important;
		background-color: transparent !important;
		border: 1px solid $secondary-color !important;
	}
}

	/* -----MOBILE-----*/

	/* @media query optionnelle (max-width: 640px)*/

	@media (max-width: 640px) {

		#connection{
			display: flex;
			justify-content: space-between;
		}
		#registerLink,
		#signInLink {
			padding: 5px 40px !important;
		}

		#registerLink{
			margin-left: 15px !important;
		}

		.adminTitle{
			padding-top: inherit;
		}

		#adminNav{
			top:50px;
		}

		#open{
			top:50px;
		}

		h1{
			font-size: 2.5rem;
		}
		.page-wrap{
			margin-top: 25%;
		}

		.push{
			height: 0;
		}

		.alert {
			top: 50px;
			z-index: 3;
			p {
				font-size: 1.2rem;
				top: 50px;
			}
		}

		.notification{
			top: 50px;
		}

		.navbar i{
			font-size: 30px;
		}

		.navbar-header{
			i{
				position: absolute;
				left: 5px;
				font-size: 30px;
				top: 10px;
			}
			i.fa.fa-bars{
				top:3px;
			}
			a{
				color: #FFFFFF;
				position: fixed;
				left: 50px;
				right: 50px;
				text-align: center;
			}
		}

		.navbar-collapse{
			text-align: center;
			background-color: $primary-color;
		}
		/*------------ nav -------------*/
		#signInLink,
		#registerLink,
		#logout{
			margin-left: 2%;
		}

		/*------------- filter --------*/


		#filter{
			height: 250px;
			padding-top: 10% !important;
			padding-left: 0!important;
			margin-bottom: 40%!important;
			.form-inline{
				padding-left: 3%!important;
			}
			.form-group{
				padding-left: 0!important;
			}
		}

		#filterHome{
			.form-inline{
				padding-left: 0!important;
			}
			.form-group{
				padding-left: 0;
				padding-right: 0;
			}
			select{
				margin-bottom: 5%;
			}
			.btn{
				width: 260px;
				margin-bottom: 5%;
			}
		}

		/*------------ home -----------*/

		#intro{
			margin-top: -13%;
			min-height: 750px;
			.storyCount{
				margin-top: 0;
			}
		}
		#speech {
			p{
				font-size: 1.5rem;
			}
			h2 {
				font-size: 2.1rem;
			}
		}

		#announcement{
			.h2-like{
				font-size: 2.5rem;
			}
		}
		.pictLink{
			padding: 5px 50px;
		}
		
		/*-------   browse   --------*/

		#introBrowse{
			margin-top: -13%;
			min-height: 480px;
		}

		#punchLine{
			width: 100%;
			margin-top: 30%;
			margin-left: 0;
			padding: 0;
			h1{
				font-size: 3rem;
			}
			h3{
				font-size: 1.5rem;
			}
		}

		.pictLink{
			margin-top: 10%;
		}

		#browseStories{
			overflow: hidden;
			.cardHolder{
				flex-flow: nowrap;
				justify-content: flex-start;
			}
		}

		#previousBtn,
		#nextBtn{
			bottom: 100px;
		}

		#previousBtn{
			left:10px;
		}

		#nextBtn{
			right:10px;
		}
		/*------- story card --------*/
		#storyCard h1{
			font-size: 2rem;
		}
		#storyCard h2,
		#storyCard .h2-like{
			font-size: 1.8rem;
		}
		.storyCard
		{
			min-width: 290px;
			max-width: 400px;
		}

		.storyCard li {
			font-size: 0.7em;
		}
		.homeStories{
			padding: 0;
		}
		.homeStories .cardHolder{
			flex-flow: nowrap;
			justify-content: flex-start;
		}

		.homeStories .slider{
			overflow-x: hidden;
		}

		/*------story-------*/
		#storyTags{
			font-size: 1rem ;
		}

		#abstract,
		#plot{
			font-size: 1.2rem;
		}

		#storyAbstract{
			margin-top: initial;
			h2{
				margin-top: inherit;
			}
		}


		#storyPlot{
			padding: 0;
		}
		#storyHolder{
			min-height: 250px;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			position: relative;
			top:-50px;
		}

		#storyTitle{
			position: relative;
			left: 0;
			top: 10px;
			height: 200px;
			display: flex;
			align-items: center;
			width: 90%;
			h1{
				font-size: 3.8rem;
				width: 100%;
				margin-left: 10%;
			}
		}

		#storyAbstract{
			width: 100%;
			background-color: #FFFFFF;
			h2 span{
				color: $secondary-color;
			}
		}

		#storyBody{
			width: 100%;

			p{
				padding-bottom: 5%;
			}
		}

		#plotText{
			column-count: 1;
		}

		#prevStory,
		#nextStory{
			top: 2.15%;
			i{
				font-size: inherit;
			}
		}

		#contact{
			padding-top: 0;
			background-color: #FFFFFF;
			margin-top: 10%;
			ul{
				display: grid;
				padding: 0 5%;
				width: 100%;
			}
			i{
				color: $secondary-color;
			}
			i.fa.fa-user-o{
				padding-right: 20px;
			}
			i.fa.fa-envelope-o{
				padding-right: 18px;
				margin-left: -1px;
			}
			i.fa.fa-map-marker{
				padding-right: 22px;
				margin-left: 4px;
			}
			i.fa.fa-mobile{
				padding-right: 25px;
				margin-left: 6px;
			}
		}
		#moreContainer{
			.storyCard{
				min-width: 290px;
			}
		}

		.separator{
			border-top: 1px solid $secondary-color;
			width: 50%;
		}

		.withSpace{
			margin-top: 10%;
		}

        /*------form--------*/
		.connectionForm {
			max-width: 90%;
			margin-top: 15%;
			padding-left: 0!important;
			.form-control{
				width:90%;
			}
			.text-center{
				padding: 0 !important;
				margin: 0 !important;
			}
			button{
				margin-top: 15% !important;
			}
		}

		#invalid_pswd{
			font-size: 1rem;
		}

		#lost.pull-right{
			position: relative !important;
			right: 25px;

		}

		#registerOptions{
			text-align: center;
		}

		 #registerBtn{
			margin: 0 !important;
		}

		.modalForm .invalid {
			left: 90px !important;
		}

		#updateAdministrator .invalid{
			left: 75px !important;
		}

		/*--add story----*/
		.storyCard p{
			min-height: 150px;
		}
		.addStory{
			max-width: 90%;
		}


		#registerForm .invalid_sign,
		#registerForm .valid_sign{
			left:85%
		}
		.storyCount{
			margin-top: 15%;
		}
		.urls{
			width: 90%;
		}
		/*---modal----*/

		.modalUrl,
		.modalForm{
			width: 96%;
			top: 15%;
			left: 2%;
			right: 2%;
		}

		#modalAdmin{
			top: 10%;
			min-height: 500px;
		}

        /*---admin----*/
		#adminNav{
			width: 200px;
		}

		#adminNav a {
			padding: 8px 8px 8px 10px;
			text-decoration: none;
			font-size: 15px;
			color: #FFFFFF;
			display: block;
			transition: 0.3s;
		}

		#patronage{
			padding-right: 16px !important;
		}

		#patronageForm,
		#topicForm{
			height: 230px;
		}

		#topic{
			padding-right: 21px !important;
		}

		.adminList{
			padding: 0!important;
		}

		table {
			width: 100%;
		}

		thead {
			display: none;
		}

		tr:nth-of-type(2n) {
			background-color: inherit;
		}

		tr td:first-child {
			color: #FFFFFF;
			font-weight: bold;
			font-size: 17px;
			background-color: $secondary-color;
		}


		tr td{
			border: none!important;
			height: 100%;
			padding: 0;
			margin: 0;
			.update{
				width: 50%;
			}
		}

		table .rightText{
				text-align: center!important;
		}

		tbody td
		{
			display: block;
			text-align: center;
		}

		.hint{
			display: block;
		}

		.entityTable td,
		.entityTable th{
			border: none !important;
		}

		.entityManagement tr{
			border: $secondary-color !important;
		}

		.smallTitle{
			font-size: 3rem;
		}

		#dashboard li {
			font-size: 1.5rem;
		}

		#dashboardAction {
			width: 280px;
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
			.btn{
				margin-top: 20px;
			}
		}

		.mobileUx{
			display: inline-block;
		}

		.update{
			width: 100%;
		}

		.add{
			width: 89%;
		}

		#addPatronage,
		#addTopic{
			display: flex;
			justify-content: center;
		}

		.reminder,
		.adminContact{
			text-align: center;
			ul{
				display: list-item;
				font-size: 1.5rem;
			}
		}

		.reminder{
			margin-top: 50px;
			margin-bottom: 50px;
		}

		.entityTable{
			margin-bottom: 50px;
		}


		.adminContact{
			margin-bottom: 10%;
		}

		.filterList{
			margin-bottom: 12%;
			h3{
				font-size: 2.2rem;
			}
			label{
				font-size: 1.3rem;
			}
		}

		#unactivatedAccount,
		#unpublishedStories{
			margin-left: 5%;
		}

		/*--legal notice----*/

		.articleTitle{
			font-size: 2rem;
		}

		/*--- error page ------*/
		.msgErrorPage{
			margin-top: 50%;
			p{
				font-size: 2.5rem;
			}
		}
		.backToHome{
			margin-top: 25%;
		}
	}


/* Fin de @media query optionnelle (max-width: 640px)*/
