@charset "UTF-8";

/* -------------------------------------------------*/


/* == _mobile.scss (target devices : mobiles and tablets) */


/* -----GENERAL-----*/

@-webkit-viewport {
	width: device-width;
	zoom: 1.0;
}
@-moz-viewport {
	width: device-width;
	zoom: 1.0;
}
@-ms-viewport {
	width: device-width;
	zoom: 1.0;
}
@-o-viewport {
	width: device-width;
	zoom: 1.0;
}
@viewport {
	width: device-width;
	zoom: 1.0;
}
::selection {
	background: #e7c791;
	/* Webkit */
}
::-moz-selection {
	background: #e7c791;
	/* Firefox */
}
::-webkit-input-placeholder {
	color: #000000;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #000000;
}
a {
	color: #000000;
}
mark {
	background: #ff0;
}

h1{
	text-align: center;
}

h2 {
	text-align: center;
}

/* -----BUTTONS-----*/

.btn {
	@include button-general;
}

.btn {
	background: #ffffff;
}

/* -----LAYOUT-----*/

@mixin bandeau-resolution {
	color: $primary-color-dark;
	width: 100%;
	display: block;
	text-align: center;
}

.page-wrap {
	box-sizing: border-box;
	min-height: 100%;
	padding: 0 0 100px;
	position: relative;
}

.footer{
	bottom: 0;
	height: 100px;
	left: 0;
	position: absolute;
	width: 100%;
	background-color: $primary-color-light;
}

.main{
	margin-bottom: 2.5%;
}

/*--- navbar ----*/
.navbar {
	background: $primary-color-light;
}

.navbar-brand{
	margin-right: 100px;
}

.navbar-brand,
.nav-link {
	color: #FFFFFF;
}

#active {
	border-bottom: solid 2px ;
}

.navbar-brand:hover,
.navbar-brand:focus{
	color: $secondary-color-light;
}

.nav-link:hover,
.nav-link:focus{
	color: $secondary-color-light;
	border-color: $secondary-color-light!important;
	border-bottom: solid 2px;
}
.nav > li > a:focus, .nav > li > a:hover {
	background-color:$primary-color-light ;
}

#logout,
#registerBtn,
#signInBtn {
	padding: 10px !important;
	margin-top: 5px;
	margin-right: 10px;
}

#logout,
#signInBtn{
	color: $secondary-color-light;
	border: solid 1px $secondary-color-light;
}

#logout:hover,
#signInBtn:hover{
	color: #FFFFFF;
	border: solid 1px #FFFFFF;
	background: $secondary-color-light;
}

#registerBtn{
	color: $primary-color;
	border: solid 1px $primary-color;
}

#registerBtn:hover{
	color: #FFFFFF;
	border: solid 1px #FFFFFF;
	background: $primary-color;
}

/*------- footer elements -------*/
#footerItem ul {
	color: #FFFFFF;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
	padding-top: 2%;
}

/*------- card ---------*/
.cardHolder {
	display: flex;
	flex-flow: wrap;
	align-items: center;
	align-content: space-between;
	justify-content: center;
}

.storyCard {
	width: 30%;
	margin: 1.5%;
	margin-block-end: 30px;
	-webkit-box-shadow: $shadow !important;
	-moz-box-shadow: $shadow !important;
	box-shadow: $shadow !important;
	height: 250px;
	ul {
		display: flex;
		justify-content: space-evenly;
	}
	li {
		font-size: 0.9em;
	}
	i {
		color: $secondary-color;
	}
	h3 {
		text-align: center;
		padding-top: 2%;
		padding-bottom: 2%;
		color: #ffffff;
	}
	p {
		text-align: justify;
		margin-top: 5%;
		margin-left: 3%;
		margin-right:3%;
		height: 80px;
	}
}

.cardHeader {
	background-color: $secondary-color;
}

.cardLink {
	text-align: center;
	margin-bottom: 3%;
	a {
		border-color: $secondary-color-light;
		color: $secondary-color-dark;
	}
	a:hover{
		color: #FFFFFF;
		background-color: $secondary-color ;
		border-bottom-color: transparent;
	}
}

/*------- home ---------*/

.storyCount {
	text-align: center;
	margin-bottom: 5%;
	margin-top: 5%;
	padding: 0;
}

/*------- pagination --------*/

#currentPage {
	text-decoration: underline $primary-color-dark;
}


#pageLinks a {
	color: $secondary-color-dark !important;
}

#pageLinks	a:hover {
 	color: $primary-color-dark !important;
	text-decoration: underline $primary-color-dark;
}

#nextBtn,
#nextStory,
#prevStory,
#previousBtn{
	border-color: $secondary-color-dark !important;
	color: $secondary-color-dark !important;
}

#nextBtn:hover,
#nextStory:hover,
#prevStory:hover,
#previousBtn:hover{
	border-color: transparent !important;
	color: #FFFFFF !important;
	background-color: $secondary-color-dark;
}

/*--------FORM---------*/

#filterBtn .btn{
	border-color: $secondary-color-light !important;
	color: $secondary-color-light !important;
}

#filterBtn .btn:hover{
	border-color: #FFFFFF !important;
	color: #FFFFFF !important;
	background-color: $secondary-color-light;
}

#resetBtn .btn{
	border-color: #FFFFFF !important;
	color: #FFFFFF !important;
	background-color: $secondary-color-light;
}

#resetBtn .btn:hover{
	border-color: $secondary-color-light !important;
	color: $secondary-color-light !important;
}

#filter  select:focus {
		border-color: $secondary-color-light !important;
	}
#filter	select:hover {
		border-color: $secondary-color-light !important;
	}
/*------story-------*/
#storyTags{
	position: fixed;
	top:6%;
	border-bottom: 1px solid $secondary-color;
	width:100%;
	font-size: 1.5rem ;
	background-color: #FFFFFF;
	i{
		color: $secondary-color;
	}
	ul{
		display: flex;
		justify-content: space-between;
	}
}
#storyBody{
	padding: 2%;
}

#abstract,
#plot{
	text-align: justify;
	font-size: 1.8rem;
}

#plot{
	columns:3;
	column-gap: 25px;
	padding-top: 4%;
	padding-bottom: 3%;
	h3{
		column-span: all;
		-webkit-column-span: all;
	}
}

#moreStory{
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid $secondary-color-dark;
	border-top: 1px solid $secondary-color-dark;
	padding-bottom: 2%;
}
#contact,
#extResources{
	width: 45%;

}
#contact{
	h3{
		text-align: center;
		padding-bottom: 2%;
	}
	ul{
		display: flex;
		justify-content: space-around;
		font-size: 1.5rem;
	}
	i{
		color: $secondary-color;
	}
}

#extResources{
	h3{
		text-align: center;
		padding-bottom: 2%;
	}
	ul{
		display: flex;
		justify-content: space-around;
		font-size: 1.5rem;
	}
}

#moreContainer{
	.cardHolder{
		display: flex;
		flex-flow: column;
	}

}


	/* -----MOBILE-----*/

	body:before {
		@include bandeau-resolution;
		content: "Version mobile";
	}

	/* Fin de @media (min-width: 20em) = min-width 320px */

	.wrapper {
		#section1 {
			nav {
				ul {}
			}
		}
		#section2 {}

	}

	/* @media query optionnelle (max-width: 640px)*/

	@media (max-width: 640px) {

		/*------- story card --------*/
		.storyCard
		{
			width: 100%;
		}

		.storyCard li {
			font-size: 0.7em;
		}
		/*------story-------*/
		#storyTags{
			font-size: 1rem ;
		}
		#abstract,
		#plot{
			font-size: 1.2rem;
		}

	}


/* Fin de @media query optionnelle (max-width: 640px)*/
