@charset "UTF-8";

/* -------------------------------------------------*/


/* == _mobile.scss (target devices : mobiles and tablets) */


/* -----GENERAL-----*/

@-webkit-viewport {
	width: device-width;
	zoom: 1.0;
}
@-moz-viewport {
	width: device-width;
	zoom: 1.0;
}
@-ms-viewport {
	width: device-width;
	zoom: 1.0;
}
@-o-viewport {
	width: device-width;
	zoom: 1.0;
}
@viewport {
	width: device-width;
	zoom: 1.0;
}
::selection {
	background: #e7c791;
	/* Webkit */
}
::-moz-selection {
	background: #e7c791;
	/* Firefox */
}
::-webkit-input-placeholder {
	color: #000000;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #000000;
}
a {
	color: #000000;
}
mark {
	background: #ff0;
}

h1{
	text-align: center;
	font-family: $primary-typo;
	font-weight: $font-weight-titles;
	font-size: $font-size-title;
}

h2 {
	text-align: center;
	font-family: $primary-typo;
	font-weight: $font-weight-titles;
	font-size: $font-size-title;
}

h3,h4,h5{
	font-family: $primary-typo;
	font-weight: $font-weight-titles;
	font-size: $font-size-sub;
}

p {
	font-family: $primary-typo;
	font-weight: $font-weight-p;
	font-size: $font-size-p;
}

i.fa{
	color: $secondary-color-dark;
}

i.fa-times{
	color: #F54041;
}

i.fa-check{
	color: #5fdda1;
}

input[type=text],
input[type=password],
input[type=email],
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus{
	background: transparent;
	border: none;
	border-bottom: 2px solid;
	border-radius: 0;
	outline-color: transparent;
	outline-style: none;
	box-shadow: none;
}

.mobileUx{
	display: none;
}

.form-control{
	padding: 0;
}

textarea:focus
,textarea{
	border-style: none !important;
	overflow: auto !important;
	outline-color: transparent !important;
	outline-style: none !important;
	box-shadow: none !important;
	border-radius: 0 !important;
}

textarea{
	border-bottom: 2px solid $primary-color !important;
}

textarea:focus{
	border-bottom: 2px solid $secondary-color !important;
}

/* -----BUTTONS-----*/

.btn {
	@include button-general;
}

.btn {
	background: $secondary-color;
	color:#FFFFFF;
}
.alert-warning{
	color: #F54041;
	background-color: #FFFFFF;
	border-color: #F54041;
}

/* ----- submit button color-----*/
#loginBtn,
#registerBtn,
#lostPswdBtn{
	border: none !important;
	color: #FFFFFF !important;
	background-color: $secondary-color !important;
	width: 260px;
	height: 60px;
	margin-top: 5%;
}

#loginBtn:hover,
#registerBtn:hover,
#lostPswdBtn:hover{
	border: solid 1px $secondary-color !important;
	color: $secondary-color !important;
	background-color: transparent !important;
}

#lost:hover{
	color: $secondary-color !important;
	text-decoration: none;
}

.update{
	border: solid 1px $secondary-color !important;
	color: $secondary-color !important;
	background-color: transparent !important;
}

.update:hover{
	border: none !important;
	background-color: $secondary-color !important;
	i{
		color: #FFFFFF !important;
	}
}


/* -----LAYOUT-----*/

@mixin bandeau-resolution {
	color: $primary-color-dark;
	width: 100%;
	display: block;
	text-align: center;
}

.page-wrap {
	box-sizing: border-box;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding: 0 0 100px;
	position: relative;
	margin: 0 auto -100px;
}

.footer{
	width: 100%;
	background-color: $primary-color-dark;
	height:100px;
}
.footer, .push {
	height: 100px;
}


/*--- navbar ----*/
.navbar {
	background: $primary-color;
	-webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
}

.nav-link {
	color: #FFFFFF;
}

#active {
	border-bottom: solid 2px ;
}

.navbar-brand:hover,
.navbar-brand:focus{
	color: $secondary-color-light;
}

.nav-link:hover,
.nav-link:focus{
	color: $secondary-color-light;
	border-color: $secondary-color-light!important;
	border-bottom: solid 2px;
}
.nav > li > a:focus, .nav > li > a:hover {
	background-color:$primary-color-light ;
}

#logout,
#registerLink,
#signInLink {
	padding: 5px 50px !important;
	margin-top: 10px;
	margin-right: 10px;
}

#logout,
#signInLink{
	color: #FFFFFF;
	background-color: transparent;
	border: solid 1px $secondary-color;
}

#logout:hover{
	background-color: #FFFFFF;
	border: none;
}

#signInLink:hover{
	color: #FFFFFF !important;
	background: $secondary-color !important;
}

#registerLink{
	color: #FFFFFF;
	border: solid 1px $primary-color;
}

#registerLink:hover{
	color: #FFFFFF;
	border: solid 1px $secondary-color;
	background: $primary-color;
}

/*------- footer elements -------*/
#footerItem ul {
	color: #FFFFFF;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
	padding-top: 2%;
}

/*------- card ---------*/
.cardHolder {
	display: flex;
	flex-flow: wrap;
	align-items: center;
	align-content: space-between;
	justify-content: center;
}

.storyCard {
	margin: 1.5%;
	margin-block-end: 30px;
	-webkit-box-shadow: $shadow !important;
	-moz-box-shadow: $shadow !important;
	box-shadow: $shadow !important;
	min-height: 300px;
	max-width: 400px;
	min-width: 290px;
	border: solid 1px $secondary-color;
	border-radius: 5px;
	ul {
		display: flex;
		justify-content: space-evenly;
	}
	li {
		font-size: 0.9em;
	}
	i {
		color: $secondary-color;
		font-size: 1.6em;
	}
	h3 {
		text-align: center;
		padding-top: 2%;
		padding-bottom: 2%;
		color: $secondary-color;
	}
	p {
		text-align: justify;
		margin-top: 5%;
		margin-left: 3%;
		margin-right:3%;
		height: 80px;
	}
}

.cardHeader {
	position: relative;
}

.cardLink {
	text-align: center;
	padding-bottom: 5%;
	padding-top: 5%;
	a {
		border-color: $secondary-color-light;
		color: #FFFFFF;
	}
	a:hover{
		color: #FFFFFF;
		background-color: $secondary-color ;
		border-bottom-color: transparent;
	}
}
.cardFooter{
	border-top: solid 1px $secondary-color;
	padding-bottom: 2%;
}

/*------- home ---------*/
#intro {
	background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../images/HomeImg.jpg'),no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 960px;
}


.storyCount {
	b {
		color: $secondary-color;
	}
	text-align: center;
	margin-bottom: 5%;
	margin-top: 5%;
	padding: 0;
}

h1,
#announcement {
	text-align: center;
	font-size: 5rem;
}
#speech{
	padding: 3%;
	margin-bottom: 5%;
	margin-top: 5%;
	color: #FFFFFF;
	text-align: center;
	p{
		font-size: 1.8rem;
		text-align: justify;
		max-width: 700px;
		display: inline-block;
	}
	h2{
		margin-top: 5%;
	}
}

#homeStories{
	border-top: solid 1px $secondary-color-dark;
	margin-top: 5%;
}

.homeLinks{
	.btn{
		border-color: $secondary-color-dark !important;
		color: $secondary-color-dark !important;
	}
	.btn:hover{
		border-color: transparent !important;
		color: #FFFFFF !important;
		background-color: $secondary-color-dark;
	}
}

#filterTitle{
	text-align: center;
}

#filterHome{
	margin-top: 3%;
	i{
		color: $secondary-color;
	}
	select{
		border-radius: 10px;
		margin-bottom: 20%;
	}

}

/*------- pagination --------*/

#currentPage {
	background-color: $secondary-color;
	/*font color define in template via twig */
}

#pageLinks{
	margin-top: 5%;
}

#pageLinks a:not(#currentPage) {
	color: $primary-color;
	font-size: 2.5rem;
}


#pageLinks a:hover {
	text-decoration: underline $secondary-color;
	zoom: 120%;
}

#pageLinks a:active{
	color: #FFFFFF !important;
	background-color: $secondary-color;
}

#nextBtn,
#nextStory,
#prevStory,
#previousBtn{
	i{
		color: #FFFFFF;
	}
	border-color: $secondary-color-dark !important;
	color: $secondary-color-dark !important;
}


#nextStory,
#prevStory{
	position: absolute;
	top:20%;
}

#prevStory{
	left: 0;
}

#nextStory{
	right: 0;
}

#prevStory a:hover,
#nextStory a:hover
{
	background-color: transparent !important;
	border-color: $secondary-color;
	i{
		color: $secondary-color;
	}
}

#nextBtn:hover,
#previousBtn:hover{
	border-color: transparent !important;
	color: #FFFFFF !important;
	background-color: $secondary-color-dark;
}

.pictLink{
	font-size: 2rem;
	margin-top: 3%;
	width: 260px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	padding: 0 !important;

}

#punchLine .pictLink{
	padding-top: 2%;
}
.pictLink:hover{
	background-color: transparent;
	color: $secondary-color;
	border-color: $secondary-color;
}

/*--------FORM---------*/

.req{
	color: $secondary-color;
	font-size: 1.5rem;
}

#terms{
	position: absolute;
	top: 20px;
	left: 218px;
}


.connectionForm{
	padding-right: 0 !important;
	margin-top: 5%;
	.form-group{
		padding-right: 0 !important;
	}
	.row{
		margin-left: 0!important;
	}
}

.addStory,
.connectionForm
{
	max-width:50%;
	min-width: 280px;
	margin-bottom: 10%;
	input:focus{
		border-color: $secondary-color !important;
	}
	select:focus{
			 border-color: $secondary-color-dark;
			 background: transparent;
		 }
}

.connectionTitle{
	text-align: center;
}



/*lost password*/
#askNewForm{
	margin-top: 10%;
}

/*register*/
#registerForm{
	margin-top: 0;
}

/*search-filters*/
#filter{
	height:250px;
}

#filterHome,
#filterBtn{
	text-align: center;
}

#filterBtn .btn{
	margin-top: 4%;
}

#filterBtn .btn,
#filterHome .btn{
	border-color: $secondary-color !important;
	color: $secondary-color !important;
	background-color: transparent !important;
	width: 260px;
	height: 60px;
}

#filterBtn .btn:hover,
#filterHome .btn:hover{
	border: none !important;
	color: #FFFFFF !important;
	background-color: $secondary-color!important;
	i{
		color: #FFFFFF;
	}
}

#filter  select:focus,
#filterHome  select:focus{
	border-color: $secondary-color !important;
	outline-color: transparent;
	outline-style: none;
	}
#filter	select:hover,
#filterHome	select:hover{
	border-color: $secondary-color !important;
	}
#filter select,
#filterHome select{
	border-color: $primary-color;
	background: transparent;
	border-radius: 10px;
	min-width: 300px;
}
#filter select option:checked,
#filterHome select option:checked {
	color: $secondary-color-dark;
}

/*add story form*/
#addForm .row{
	margin-right: 0!important;
	margin-left: 0!important;
}
#storyPart1,
#storyPart2,
#storyPart3{
	border-bottom: solid 1px $secondary-color;
	margin-top: 2%;
	padding-bottom: 2%;

}
#showPart1,
#showPart2,
#showPart3{
	i{
		color: $secondary-color;

	}
}
.part4{
		 margin-top: 10%;
		 .btn{
			 width: 260px;
			 height: 60px;
			 background-color: transparent;
			 color: $secondary-color;
			 border-color: $secondary-color;
		 }
	.btn:hover{
		background-color: $secondary-color;
		color: #FFFFFF;
		border: none;
	}
}

#story_urls{
	.btn-danger{
		background-color: transparent !important;
		position: relative;
		top: -34px;
		left: 100%;
	}
	.btn-danger:hover{
		 background-color: $secondary-color !important;
		border: none !important;
		 i{
			 color: #FFFFFF;
		 }
	 }
}

#add_url{
	background-color: transparent;
	border-color:#5fdda1;
	i{
		color: #5fdda1;
	}
}

#add_url:hover{
	background-color: #5fdda1;
	border: none;
	i{
		color: #FFFFFF;
	}
}

/*form validation*/
.invalid{
	margin-left: -5%;
}
.invalid,
.invalid_sign {
	color: #F54041;
}

.invalid_sign ,
.valid_sign {
	position: relative;
	left: 100%;
	top: -30px;
	padding-left: 1%;
	i{
		margin-left: 2%;
		font-size: 1.5em
	}
}

.valid_sign i {
	color: #5fdda1;
}

.invalidBack ul {
	color:#F54041;
	list-style: none;
}
/*------story-------*/

#storyHolder{
	position: absolute;
	right: 0;
	top:0;
	width: 100%;
	min-height: 960px;
	z-index: -1;
	margin-top: 2%;
	background-position: left bottom;
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../images/storyImg.jpg');

}

.separator{
	display: none;
}

#storyTitle{
	position: absolute;
	top:0;
	left: 65%;
	right: 0;
	color: #FFFFFF;
}

#storyBody {
	background-color: #FFFFFF;
	padding: 2% 5%;
	width: 65%;
}
#storyAbstract {
	h2{
		text-align: left;
	}
	h2 span{
		color: #FFFFFF;
		font-family: $primary-typo;
	}
	background-color: $secondary-color;
	padding: 2% 5%;
	width: 65%;

}

#storyAbstract,
#storyPlot{
	text-align: justify;
	font-size: 1.8rem;
}

#storyPlot {
	h3 span{
		color: $secondary-color;
	}
	padding-top: 4%;
	padding-bottom: 3%;
}

#plotText{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	column-gap: 50px;
	padding-top: 4%;
	padding-bottom: 3%;
	p:first-of-type{
		margin-top: 0 !important;
	}
}

#moreStory{
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid $secondary-color-dark;
	border-top: 1px solid $secondary-color-dark;
	padding-bottom: 2%;
}

#contact{
	background-color: $secondary-color;
	padding: 3%;
	h3{
		text-align: center;
		padding-bottom: 2%;
	}
	ul{
		display: flex;
		justify-content: space-between;
		font-size: 1.5rem;
	}
	i{
		color: #FFFFFF;
		font-size: 1.6em;
	}
}

#extResources{
	h3{
		text-align: center;
		padding-bottom: 2%;
	}
	ul{
		display: flex;
		justify-content: space-around;
		font-size: 1.5rem;
	}
}

#moreContainer{
	margin-top: 2%;
	.more{
		overflow-x: hidden;
	}

	.storyCard{
		min-width: 450px;
	}
	.cardHolder{
		flex-flow: nowrap;
		justify-content: flex-start;
	}
	h3{
		text-align: center;
	}
}

.panner{
	position: relative;
	top: -200px;

}
/*------browse-------*/
#introBrowse {
	h1 b{
		color: $secondary-color;
	}
	.storyCount{
		margin-top: 20%;
	}
	background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../images/HomeImg.jpg'),no-repeat;
	background-position: center;
	min-height: 900px;
}

#punchLine{
	padding: 3%;
	margin-bottom: 5%;
	margin-top: 5%;
	color: #FFFFFF;
	width: 50%;
	margin-left: 25%;
	text-align: center;
}

/*-----admin------*/

#dashboard{
	li{
		font-size: 3rem;
	}
	li span{
		color: $secondary-color;
		font-weight: 600;
	}
}

#dashboardAction{
	.btn{
		background-color: transparent;
		color: $secondary-color;
		border-color: $secondary-color;
		width: 220px;
	}
	.btn:hover{
		background-color: $secondary-color;
		color: #FFFFFF;
		border: none;
	}
}

.iconBlock{
	text-align: center;
	margin-bottom: 3%;
}

#actionIcon{
	margin-top: 5%;
}

.adminList{
	margin-top: 3%;
}

#adminNav{
	height: 100%;
	position: fixed;
	z-index: 10000;
	top: 40px;
	left: - 250px;
	background-color: $primary-color;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	width: 250px;
}

#adminNav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #FFFFFF;
	display: block;
	transition: 0.3s;
}

#adminNav a:hover{
	color: $secondary-color;
}


#closeNav{
	position: absolute;
	top: 20px;
	margin-left: 5px;
}

#closeNav i:hover{
	color: #FFFFFF;
}

#open{
	position: absolute;
	top:25px;
	i:hover{
		color: $primary-color;
	}
}

.modalForm,
.modalUrl{
	width: 50%;
	position: fixed;
	top: 30%;
	min-width: 30%;
	opacity: 1;
	left: 25%;
	right: 25%;
	background-color: #FFFFFF;
	border: 1px solid rgba(49, 51, 54, 0.3);
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	z-index: 2000;
}

.modalUrl{
	min-height: 300px;
	padding-left: 2%;
	padding-right: 2%;
	p{
		font-size: 2rem !important;
	}
	p span{
		color: $secondary-color;
	}
    i{
		color: $primary-color !important;
	}
	i:hover{
		color: $secondary-color !important;
	}
	li{
		margin: 0 0 5px 0;
	}
	li a{
		font-size: 1.8rem;
	}
	li a:hover{
		color: $secondary-color !important;
	}
	li i{
		font-size: 1.5rem;
		padding-left: 1%;
	}
}

.modalForm{
	height:300px;
	border-radius:10px;
}

#modalAdmin{
	height: 350px;
}

#newTopicForm,
#newPatronageForm,
#updateAdministrator{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	label{
		color: $secondary-color;
	}
	.btn{
		border-color: $secondary-color;
		background-color: transparent !important;
		color: $secondary-color;
	}
	.btn:hover{
		border: none;
		background-color: $secondary-color !important;
		color: #FFFFFF;
	}
}
#newTopicForm,
#newPatronageForm{
	padding: 10%;
}

#updateAdministrator{
	padding: 5%;
}

.modalOverlay{
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(49, 51, 54, 0.8);
}

.closeModal{
	position: absolute;
	right: 10px;
	top: 10px;
	color: #999;
	line-height: 10px;
}





	/* -----MOBILE-----*/

	/* @media query optionnelle (max-width: 640px)*/

	@media (max-width: 640px) {

		.page-wrap{
			margin-top: 25%;
		}
		/*------------ nav -------------*/
		#signInLink,
		#registerLink,
		#logout{
			margin-left: 2%;
		}

		/*------------- filter --------*/

		#filterBtn .btn,
		#filterHome .btn{
			width: 93%;
			left: 3%;
			margin-top: 3%;
			min-width: 50%;
			max-width: 100%;
		}

		#filter{
			padding-top: 10% !important;
			padding-left: 0!important;
			height: 250px;
			margin-bottom: 15%!important;
			.form-inline{
				padding-left: 3%!important;
			}
			.form-group{
				padding-left: 0!important;
			}
		}

		#filterHome{
			padding: 0!important;
			.form-inline{
				padding-left: 0!important;
			}
			.btn{
				width: 260px;
			}

		}

		/*------------ home -----------*/

		#intro{
			margin-top: -10%;
			.storyCount{
				margin-top: 0;
			}
		}
		#speech {
			p{
				font-size: 1.5rem;
			}
			h2 {
				font-size: 2.1rem;
			}
		}
		.pictLink{
			padding: 5px 50px;
		}
		/*-------   browse   --------*/

		#introBrowse{
			margin-top: -12%;
			min-height: 480px;
		}

		#punchLine{
			width: 100%;
			margin-top: 30%;
			margin-left: 0;
			padding: 0;
			h1{
				font-size: 3rem;
			}
			h3{
				font-size: 1.5rem;
			}
		}

		.pictLink{
			margin-top: 10%;
		}

		/*------- story card --------*/
		#storyCard h1{
			font-size: 2rem;
		}
		#storyCard h2,
		#storyCard .h2-like{
			font-size: 1.8rem;
		}
		.storyCard
		{
			width: 100%;
		}

		.storyCard li {
			font-size: 0.7em;
		}
		.homeStories{
			padding: 0;
		}
		.homeStories .cardHolder{
			flex-flow: nowrap;
			overflow: scroll;
			justify-content: flex-start;
		}

		/*------story-------*/
		#storyTags{
			font-size: 1rem ;
		}

		#abstract,
		#plot{
			font-size: 1.2rem;
		}

		#storyPlot{
			padding: 0;
		}
		#storyHolder{
			min-height: 250px;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			position: relative;
			top:-50px;
		}

		#storyTitle{
			position: relative;
			left: 0;
			top: 10px;
			height: 200px;
			display: flex;
			align-items: center;
			width: 90%;
			h1{
				font-size: 3.8rem;
				width: 100%;
				margin-left: 10%;
			}
		}

		#storyAbstract{
			width: 100%;
			background-color: #FFFFFF;
			h2 span{
				color: $secondary-color;
			}
		}

		#storyBody{
			width: 100%;

			p{
				padding-bottom: 5%;
			}
		}

		#plotText{
			column-count: 1;
		}

		#prevStory,
		#nextStory{
			top: 2%;
		}

		#contact{
			padding-top: 0;
			background-color: #FFFFFF;
			margin-top: -3%;
			ul{
				display: grid;
				padding: 0 5%;
				width: 100%;
			}
			i{
				color: $secondary-color;
			}
			i.fa.fa-user-o{
				padding-right: 20px;
			}
			i.fa.fa-envelope-o{
				padding-right: 17px;
			}
			i.fa.fa-map-marker{
				padding-right: 27px;
			}
			i.fa.fa-phone{
				padding-right: 22px;
			}
		}
		#moreContainer{
			.storyCard{
				min-width: 290px;
			}
		}

		.separator{
			border-top: 1px solid $secondary-color;
			width: 50%;
		}

		.withSpace{
			margin-top: 10%;
		}

        /*------form--------*/
		.connectionForm {
			max-width: 90%;
			margin-top: 15%;
			padding-left: 0!important;
			.form-control{
				width:90%;
			}
			.text-center{
				padding: 0 !important;
				margin: 0 !important;
			}
			button{
				margin-top: 15% !important;
			}
		}

		#lost.pull-right{
			position: relative !important;
			right: 25px;

		}

		#registerOptions{
			text-align: center;
		}

		 #registerBtn{
			margin: 0 !important;
		}

		/*--add story----*/
		.storyCard p{
			min-height: 150px;
		}
		.addStory{
			max-width: 90%;
		}

		.well{
			padding: 0!important;
		}
		.invalid{
			margin-left: -10%;
		}
		.invalid_sign{
			left:97%
		}
		.storyCount{
			margin-top: 15%;
		}
		.urls{
			width: 90%;
		}
		/*---modal----*/

		.modalUrl,
		.modalForm{
			width: 96%;
			top: 25%;
			left: 2%;
			right: 2%;
		}

        /*---admin----*/
		#adminNav{
			width: 200px;
		}
		#open{
			top: -20px;
		}

		#adminNav a {
			padding: 8px 8px 8px 10px;
			text-decoration: none;
			font-size: 15px;
			color: #FFFFFF;
			display: block;
			transition: 0.3s;
		}

		table
		{
			width: 100%;
		}

		thead
		{
			display: none;
		}

		tr:nth-of-type(2n)
		{
			background-color: inherit;
		}

		tr td:first-child
		{
			color: $secondary-color;
			font-weight: bold;
			font-size: 17px;
		}

		tbody td
		{
			display: block;
			text-align: center;
		}

		.smallTitle{
			font-size: 3rem;
		}

		#dashboard li {
			font-size: 1.5rem;
		}

		#dashboardAction {
			width: 280px;
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
			.btn{
				margin-top: 20px;
			}
		}

		.mobileUx{
			display: inline-block;
		}

		.update{
			width: 100%;
		}

		.add{
			width: 89%;
		}

		#addPatronage,
		#addTopic{
			display: flex;
			justify-content: center;
		}
	}


/* Fin de @media query optionnelle (max-width: 640px)*/
